@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Raleway-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.woff2") format("woff");
}
